.selected_tab {
	background-color: #ff8080;
	color:white;
	width:100%;
	/*border:2px solid #ffe5e5;*/

}

.selectedFop {
	opacity:0.5;
	border: 2px solid blue;
}

.tabsgroup {
	background-color: #ffb3b3;
	color:white;
	width:100%;
	border:2px solid #ffe5e5;
}

.tabscontents {
	position:relative; 
	display:none;
}

.injang_html_box {
	width: 352px;
	margin-top: 10px;
	display:none;
}

.first_tab {
	background-color: #ff8080;
}

#tabs_contents {
	padding:10px;
	background-color: #ff8080;
	width:374px;
}

#injangopt1 {
	float:left;
	position: fixed;
	height:100%; 
	background-color:#ffcccc; 

}


#image_add_tab {
	display:block;
}


#injang_add_list {
	position:relative;
}

.uk-sortable {
	list-style:none;
	width:356px;
	margin:auto;
	padding:1px 1px 1px 1px;
	overflow:hidden;
	text-overflow:ellipsis;
}

.uk-sortable li {
	overflow:hidden;
	text-overflow:ellipsis;
	margin-top: 2px;
}

.uk-close {
	float:right;
}

.uk-icon-file-text-o {
	float:left;
	margin-right:10px;
}
.uk-icon-image {
	float:left;
	margin-right:10px;
}

.desc {
	overflow:hidden;
	text-overflow:ellipsis;
}

body {
	background-color:#ff8080;"
}

.uk-notouch {
	background: #FF8080;
}

.uk-panel-box-primary {
	background: #FF8080;
	color:white;
}

.list-item {
	overflow:hidden;
	text-overflow:ellipsis;
}
.uk-sortable-dragged {
	overflow:hidden;
	text-overflow:ellipsis;
}